/* ====================== */
/* Sticky Header Styles */
/* ====================== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#footer {
  display: none !important;
}
/* ====================== */
/* Layout Adjustments */
/* ====================== */
body {
    padding-top: 80px !important;
    padding-bottom: 0 !important;
    scroll-padding-top: 80px !important;
  }


/* Hide mobile bottom menu */
.after-append-footer {
  display: none !important;
}

/* Hide pre-appended Elementor template content */
.content-append-before.bzotech-elementor-template {
  display: none !important;
}

/* Hide global logo */
.elbzotech-logo-global-style-image {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.elementor-element-75db3806,
.elementor-element-f8c1ec6,
.elementor-element-19224f55,
.elementor-element-569f6f4b,
.elementor-element-30e2eb11,
[data-id='75db3806'],
[data-id='19224f55'],
[data-id='f8c1ec6'],
[data-id="569f6f4b"],
[data-id="30e2eb11" ]{
  display: none !important;
}
/* Hide Wishlist icon on top bar */
.elementor-element-613a7495,
[data-id="613a7495"]{
    display: none !important;
}

/* Hide Account Icon on top bar */
.elementor-element-741701ed,
[data-id="741701ed"]{
    display: none !important;
}


/* Hide bzotech_list_link_global widget */
.elementor-element-2a8724fd,
[data-id='2a8724fd'] {
  display: none !important;
}
/* Set background color for bzotech-mini-cart-global widget */
.elementor-element-77470bb6,
[data-id='77470bb6'] {
  background-color: #f2f2f7 !important;
}
/* Set background color for mini-cart-link */
.elbzotech-bt-default elbzotech-bt-full {
  background-color: #d43d9d !important;
}
a.mini-cart-link {
  background-color: #f2f2f7 !important;
}
